<div ng-controller="HomeController">
	<div id="containers">
		<div id="main-content">
			<div id="announcement">
				<div id="title">
					<p id="title-txt">Hello, and Welcome.</p>
					<p class="thread-info">by <a href="#/members/10">Realized</a> on SEP 29, 2016</p>
				</div>
				<div id="content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus leo nibh, et accumsan dui ullamcorper laoreet. Nunc eu commodo massa, ut vehicula metus. Pellentesque diam sem, porta vitae efficitur sed, condimentum eu erat. Suspendisse blandit odio eget eros tempor efficitur ut eu mauris. Vestibulum pulvinar turpis sit amet sem cursus, vel tristique diam semper. Ut hendrerit leo quis iaculis interdum. Nunc in nunc eu mi consequat maximus. Integer aliquam odio a ante sagittis blandit.

					Fusce velit felis, maximus eu dui et, congue porta neque. Quisque nibh nisl, tristique sed placerat cursus, pharetra lobortis orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut dictum egestas lacus ut tristique. Cras congue ullamcorper erat eget maximus. Curabitur non leo varius, dictum metus sed, dapibus neque. Integer orci libero, ultrices vel hendrerit at, finibus sit amet mauris. Etiam auctor felis vitae mi vehicula congue.

					Ut tempus ligula a pellentesque maximus. Quisque congue suscipit felis, sit amet laoreet dolor venenatis nec. Aliquam felis eros, iaculis id ipsum quis, rutrum commodo purus. Curabitur quis dui vel turpis sodales volutpat. Nulla ac mauris fringilla, molestie ex ut, venenatis turpis. Etiam consectetur ipsum nec libero bibendum, vitae ultricies massa commodo. Integer enim augue, consectetur at tincidunt ac, placerat ut dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum est, luctus vitae condimentum commodo, bibendum quis quam. Proin mi nisl, volutpat ac suscipit in, pellentesque quis sem. Sed a risus sed urna eleifend interdum sit amet ac nulla.

					Suspendisse potenti. Curabitur pellentesque elementum leo. Duis massa risus, efficitur tincidunt justo aliquam, vulputate molestie nibh. Duis sagittis nec urna nec tristique. Maecenas imperdiet enim tortor, id convallis est lobortis quis. Sed efficitur neque id eros viverra venenatis. Aliquam at diam ut diam posuere cursus.
				</div>
			</div>
			<!-- <h1>Announcements</h1> -->
		</div>
		<div id="side-content">
			<div id="side-content-user-info">
				<div id="side-content-user-info-wrapper">
					<p class="important top-cover">Welcome back, {{ user.username }}</p>
					<div id="side-content-img">
						<img src="./../img/avatar.png">
					</div>
				</div>
			</div>
			<p class="important">Recent Posts</p>
			<div id="side-content-recent-posts">
				<div class="side-content-recent-post">
					<a href="#/threads/1">Hello, and Welcome.</a>
					<p><a href="#/members/1">Realized</a>, 11 minutes ago</p>
				</div>
				<div class="side-content-recent-post">
					<a href="#/threads/1">Hello, and Welcome.</a>
					<p><a href="#/members/1">Realized</a>, 11 minutes ago</p>
				</div>
				<div class="side-content-recent-post">
					<a href="#/threads/1">Hello, and Welcome.</a>
					<p><a href="#/members/1">Realized</a>, 11 minutes ago</p>
				</div>
			</div>
		</div>
	</div>
</div>