* {
	font-family: "Tahoma";
	color: darkblue;
}

input, label {
	display: block;
	margin-bottom: 15px;
}

input[type=submit], button {
	font-weight: bold;
    padding: 5px 15px; 
    background: #ccc;
    border: 2px solid darkgray;
    border-radius: 5px;
}

#main_content {
	margin: auto;
	display: inline-block;
	border: 2px solid darkblue;
	padding: 10px;
	width: 500px;
	vertical-align: top;
	height: 500px;
	/*margin-left: 10px;*/
}
/*
#flash_message {
	margin: 0px 0px 10px 10px;
	padding: 10px;
	text-align: center;
	width: 939px;
	border: 2px solid black;
	background-color: #4af74a;
	color: white;
	font-family: "Tahoma";
	font-weight: bold;
}
*/