* {
	font-family: "Tahoma";
	color: darkred;
}

h4 {
	margin: 10px 0px 25px 0px;
}

label, input {
	display: block;
	margin-bottom: 10px;
}

input[type=submit], button {
	font-weight: bold;
    padding: 5px 15px; 
    background: #ccc;
    border: 2px solid darkgray;
    border-radius: 5px;
}

input[type=password], input[type=text] {
	width: 150px;
	border: 2px solid #dfdfdf;
	padding: 5px;
	border-radius: 5px;
}

.warning {
	color: red;
	margin: 0px 0px 10px 0px;
	font-size: 12px;
}

#global_warning {
	margin: 0px 0px 10px 0px;
	padding: 10px;
	text-align: center;
	width: 560px;
	border: 2px solid black;
	background-color: red;
	color: white;
	font-weight: bold;
}

#global_info {
	margin: 0px 0px 10px 0px;
	padding: 10px;
	text-align: center;
	width: 560px;
	border: 2px solid black;
	background-color: darkgray;
	color: white;
	font-weight: bold;
}

#login {
	width: 250px;
	height: 450px;
	padding: 15px;
	border: 2px solid darkred;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
}

#register {
	width: 250px;
	height: 450px;
	margin-left: 10px;
	padding: 15px;
	border: 2px solid darkred;
	border-radius: 5px;
	display: inline-block;
}