<!DOCTYPE html>
<html>
	<head>
		<title>Disappearing Ninjas: Home</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script>
			var color = "{{result}}";

			$(document).ready(function() {
				if (color != "") {
					$('img').hide();
					var found = false;

					$('img').each(function() {
						if ($(this).attr("color") == color.toLowerCase()) {
							$(this).show();
							found = true;
						}
					});

					if (!found) {
						$(document.body).append('<img src="{{ url_for("static", filename="images/notapril.jpg") }}" width="200" height="200" color="purple">')
					}
				}
			});
		</script>
	</head>
	<body>
		<img src="{{ url_for('static', filename='images/donatello.jpg') }}" width="200" height="200" color="purple">
		<img src="{{ url_for('static', filename='images/leonardo.jpg') }}" width="200" height="200" color="blue">
		<img src="{{ url_for('static', filename='images/michelangelo.jpg') }}" width="200" height="200" color="orange">
		<img src="{{ url_for('static', filename='images/raphael.jpg') }}" width="200" height="200" color="red">
	</body>
</html>