* {
	text-align: center;
	font-family: "Tahoma";
}

h3 {
	font-weight: normal;
}

#submit_box {
	margin: 0px auto;
	padding: 25px;
	width: 150px;
}

#submit_box input {
	margin-bottom: 5px;
}

#answer {
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}

#wrong_answer_box {
	padding: 75px 25px;
	background-color: red;
	border: 2px solid black;
	width: 150px;
	margin: 0px auto;
}

#wrong_answer_box p {
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}