<!DOCTYPE html>
<html>
	<head>
		<title>Login and Registration</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_stylesheet.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script>
			$(document).ready(function() {
				$('#global_warning').hide();
				$('#global_warning').slideDown().delay(1500).slideUp();

				$('#global_info').hide();
				$('#global_info').slideDown().delay(1500).slideUp();

				$('.warning').hide();
				$('.warning').slideDown().delay(3000).slideUp();
			});
		</script>
	</head>
	<body>
		<div id="containers">
			{% with global = get_flashed_messages(with_categories=true) %}
				{% if global %}
					{% for category, message in global %}
						{% if 'global' in category %}
							<p id="{{ category }}">{{ message }}</p>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endwith %}

			<div id="login">
				<h4>Already Registered? Login!</h4>
				<form action="/process", method="post">
					<label>Email:</label>
					<input type="text" name="email" placeholder="Type your email...">
					{% with global = get_flashed_messages(category_filter=['login_email']) %}
						{% if global %}
							{% for message in global %}
								<p class="warning">{{ message }}</p>
							{% endfor %}
						{% endif %}
					{% endwith %}
					<label>Password:</label>
					<input type="password" name="password" placeholder="Type your password...">
					{% with global = get_flashed_messages(category_filter=['login_password']) %}
						{% if global %}
							{% for message in global %}
								<p class="warning">{{ message }}</p>
							{% endfor %}
						{% endif %}
					{% endwith %}
					<input type="hidden" name="action" value="login">
					<input type="submit" value="Login">
				</form>
			</div>
			<div id="register">
				<h4>Create a New Account</h4>
				<form action="/process", method="post">
					<label>First Name:</label>
					<input type="text" name="first_name" placeholder="Type your first name...">
					{% with global = get_flashed_messages(category_filter=['reg_first_name']) %}
						{% if global %}
							{% for message in global %}
								<p class="warning">{{ message }}</p>
							{% endfor %}
						{% endif %}
					{% endwith %}
					<label>Last Name:</label>
					<input type="text" name="last_name" placeholder="Type your last name...">
					{% with global = get_flashed_messages(category_filter=['reg_last_name']) %}
						{% if global %}
							{% for message in global %}
								<p class="warning">{{ message }}</p>
							{% endfor %}
						{% endif %}
					{% endwith %}
					<label>Email:</label>
					<input type="text" name="email" placeholder="Type your email...">
					{% with global = get_flashed_messages(category_filter=['reg_email']) %}
						{% if global %}
							{% for message in global %}
								<p class="warning">{{ message }}</p>
							{% endfor %}
						{% endif %}
					{% endwith %}
					<label>Password:</label>
					<input type="password" name="password" placeholder="Type your password...">
					{% with global = get_flashed_messages(category_filter=['reg_password']) %}
						{% if global %}
							{% for message in global %}
								<p class="warning">{{ message }}</p>
							{% endfor %}
						{% endif %}
					{% endwith %}
					<label>Password Confirmation:</label>
					<input type="password" name="password_confirm" placeholder="Type your password again...">
					{% with global = get_flashed_messages(category_filter=['reg_password_confirm']) %}
						{% if global %}
							{% for message in global %}
								<p class="warning">{{ message }}</p>
							{% endfor %}
						{% endif %}
					{% endwith %}
					<input type="hidden" name="action" value="register">
					<input type="submit" value="Register">
				</form>
			</div>
		</div>
	</body>
</html>